@import url(https://fonts.googleapis.com/css?family=Lato:100,300,400);
@import url(http://fonts.googleapis.com/css?family=Lato:100,300,400);

* {
	box-sizing: border-box;
}

img {
	max-width: 100%;
	height: auto;
}

/*---------------------------------SAMUEL CODE STARTS HERE---------------------------------------------*/

.site {
	display: grid;
	grid-template-columns: 1fr 6fr;
	grid-template-rows: 1fr 4fr 0.25fr;
	grid-template-areas: 
		"title title"
		"sidebar main"
		"footer footer";
}

.header {
	grid-area: title;
	background-color: #596666;
}

.sidebar {
	grid-area: sidebar;
	background-color: #adafaf;
}

.maincontent {
	grid-area: main;
	background-color: #878787;
}

.footer {
	grid-area: footer;
	background-color: tomato;
}

/*---------------------------------SAMUEL CODE ENDS HERE--------------------------------------------*/

.row::after {
	content: "";
	clear: both;
	display: table;
}
[class*="col-"] {
	float: left;
	padding: 15px;
}
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

@media only screen and (max-width: 768px) {
	/* For mobile phones: */
	[class*="col-"] {
			width: 100%;
	}
}

.menu ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}


body {
	font-family: 'Lato', sans-serif;
	background-color: #CDCDCD;
	width: 100%;
	margin: 0px; 
}
/*
@media only screen and (max-width: 600px) {
	body {
			background-color: rgb(67, 158, 189);
	}
}*/

div#contenedor {
	width: 100%;
	background-color: #1d292d;
	margin: 0px; 
}

h1 {
	font-family: 'arial';
}

h3 {
	color: rgb(255, 255, 255);
	font-family: 'arial';
}

div#cabecera {
	border: 1px solid red;
	padding: 15px;
		
	/*padding: 2%;
	width: auto;*/
	background-color: #0f1b1f;
	color: white;
}

div#cabecera a, div#cabecera a:visited {
	color: white;
	font-weight: bold;
	text-decoration: none;
} 

div#cabecera a:hover {
	color: #878787;
	font-weight: bold;
	text-decoration: underline;
} 


div#sidebar-left {
	/*width: 15%;
    float: left;
    padding: 15px;*/
		border: 1px solid red;
		/*
	padding: 2%; 
	float: left;
	width: 13%;*/
	background-color: #1d292d;
}

@media screen and (min-width: 600px) {
  div#sidebar-left {
    font-size: 17px;
  }
}

@media screen and (max-width: 600px) {
	div#sidebar-left {
    font-size: 10px;
  }
}


div#contenido {
	/*width: 85%;
  float: left;
  padding: 15px;*/
	border: 1px solid red;
	/*
	padding:2%;
	float:left;
	width: 79%;*/
	min-height: 600px;
	color: #2f2d2d;
	background-color: #ece9e7;
	text-align: justify;
}

div#pie {
  font-size: 12px;
	padding: 15px;
		
	clear: both;
	/*padding: 20px;*/
	background-color: #000000;
	color: white;
	text-align: center;
}

div.saludo {
	width: 100%;
	text-align: right;
}

fieldset {
	border: 1px solid black;
	width: 16em;
	text-align: right;
	margin: 0 auto;
}


legend {
	color: #fff;
	background: #303030;
	text-align: left;
	border: 1px solid black;
	padding: 2px 6px;
} 

label {
	width: 4em;
	float: left;
	text-align: left;
	margin-right: 0.5em;
	display: block;
}

button {
	margin-left: 100px;
} 
	

/*-------------------------------NOIDEA-----------------------------*/

#searchButton {
	
	margin-left: -0px;
	background: none!important;
	/*color: inherit;*/
	color:#2175FF;
	border: none; 
	padding: 0!important;
	font: inherit;
	/*border is optional*/
	/*border-bottom: 1px solid #444; */
	cursor: pointer;

}

div#search {
	width: 900px;
	margin: auto;
	border: 1px solid black;
	background-color: #aaaaaa;
	margin-top: 30px;
}

#follow {
    background:none!important;
     border:none; 
     padding:0!important;
    
    /*optional*/
    font-family:arial,sans-serif; /*input has OS specific font-family*/
     color:#069;
     text-decoration:underline;
     cursor:pointer;
}

.eventCont, .followCont{
	width: 40%;
	border-style: solid;
	border-color: #3F51B5;
	border-width: 4px;
	margin-top: 15px;
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	box-sizing: border-box;
}

@media only screen and (max-width: 768px) {
	.eventCont, .followCont{
		width: 100%;
	}
}

@media only screen and (min-width: 768px) {
	.eventCont, .followCont{
		width: 60%;
		/*height: 15%;*/
	}
}

@media only screen and (min-width: 1151px) {
	.eventCont, .followCont{
		width: 40%;
	}
}

.eventCont>div, .followCont>div{
	/*background-color: rgb(25, 59, 87);*/
	color: rgb(0, 0, 0);
	text-align: center;
	width: 250px;
	font-size: 100%;
	margin: 4px;
}

div.nameFollowing button, div.nameFollowing h2{
	text-transform:capitalize;
	text-align: left;
}

div.nameFollowing{
	box-sizing: border-box
}

div.nameFollowing button {
	margin-left: -159px;
	background: none!important;
	border: none; 
	padding: 0!important;

	position: relative;
  	/*background-color: transparent;*/
  	cursor: pointer;
  	outline: none;
  	font-size: 14px;
}

/*
div.nameFollowing button {
	position: relative;
  	padding: 0;
  	border: 0;
  	background-color: transparent;
  	cursor: pointer;
  	outline: none;
  	font-size: 14px;
  	margin: 0;
}

div.nameFollowing .linkName{
	color: #000000;

}

div.nameFollowing .linkName:after, div.nameFollowing .linkName:before{
	content: '';
    display: block;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: #000000;
    transition: all 0.3s ease;
    transform: scale(0.85);
}

div.nameFollowing .linkName:hover:before{
	top: 0;
	transform: scale(1);
}

div.nameFollowing .linkName:hover:after{
	transform: scale(1);
}*/
 

.miniEvent p{
	text-align: center;
	color: rgb(0, 0, 0);
	margin: 0px;
	padding: 0px;
	border: 0px;
}
.miniEvent{
	border-style: solid;
	border-color: rgb(0, 0, 0);
	background-color: rgb(25, 59, 87);
}

.miniEvent .imgEventMini{
	width: 100%;
}


/*-------------------------------BUTTON CONTENIDO-----------------------------*/

/*
.buttonCont{
	margin-left: -0px;
	background: none!important;
	color:#2175FF;
	border: none; 
	padding: 0!important;
	font: inherit;
	/*border is optional*/
	/*border-bottom: 1px solid #444; *//*
	cursor: pointer;
}*/

.buttonCont {
	margin-left: -0px;
	padding: 0!important;
	border: none;
  	background-color: #ebebf0;
  	-webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  	-webkit-user-select: none;
		-moz-user-select: none;
      	-ms-user-select: none;
        	user-select: none;
  	position: relative;
  	z-index: 1;
  	padding: 0;
}

.buttonCont:before {
	content: "";
  	position: absolute;
  	z-index: -1;
  	width: 10px;
  	right: 0;
  	top: 0;
  	bottom: 0;
  	background-color: rgba(0, 10, 50, 0.2);
  	-webkit-transition: -webkit-transform 0.6s cubic-bezier(0, 0.9, 0.13, 0.9);
  	transition: -webkit-transform 0.6s cubic-bezier(0, 0.9, 0.13, 0.9);
  	transition: transform 0.6s cubic-bezier(0, 0.9, 0.13, 0.9);
  	transition: transform 0.6s cubic-bezier(0, 0.9, 0.13, 0.9), -webkit-transform 0.6s cubic-bezier(0, 0.9, 0.13, 0.9);
  	-webkit-transform: translate3D(0, 0, 0);
        	transform: translate3D(0, 0, 0);
}
.buttonCont:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: #ebebf0;
  z-index: -1;
}
.buttonCont:hover:before, .buttonCont:focus:before {
  -webkit-transform: translate3D(10px, 0, 0);
          transform: translate3D(10px, 0, 0);
}
.buttonCont:active:before {
  -webkit-transform: translate3D(0, 0, 0);
          transform: translate3D(0, 0, 0);
}
.buttonCont:focus, .buttonCont:active {
  outline: none;
}



.buttonCont .button__inner {
  	text-transform: uppercase;
	letter-spacing: 0.15em;
	font-size: 15px;
  	color: #333;
  	padding: 1em 1.5em;
  	background-color: #fbfbfb;
  	display: block;
  	width: 100%;
  	height: 100%;
  	-webkit-transition: -webkit-transform 0.6s cubic-bezier(0, 0.9, 0.13, 0.9);
  	transition: -webkit-transform 0.6s cubic-bezier(0, 0.9, 0.13, 0.9);
  	transition: transform 0.6s cubic-bezier(0, 0.9, 0.13, 0.9);
  	transition: transform 0.6s cubic-bezier(0, 0.9, 0.13, 0.9), -webkit-transform 0.6s cubic-bezier(0, 0.9, 0.13, 0.9);
  	position: relative;
}

@media only screen and (max-width: 408px) {
  .buttonCont .button__inner{
    font-size: 10px;
  }
}
.buttonCont:hover .button__inner, .buttonCont:focus .button__inner {
  -webkit-transform: translate3D(0, -10px, 0);
          transform: translate3D(0, -10px, 0);
}
.buttonCont:active .button__inner {
  -webkit-transform: translate3D(0, 0, 0);
          transform: translate3D(0, 0, 0);
}
.buttonCont:hover .button__inner, .buttonCont:focus .button__inner {
  background-color: #fff;
}

.buttonCont--secondary {
  background-color: #00d18e;
  z-index: 0;
}
.buttonCont--secondary:after {
  background-color: #00d18e;
}
.buttonCont--secondary .button__inner {
  background-color: #00ffb2;
}
.buttonCont--secondary:hover .button__inner, .buttonCont--secondary:focus .button__inner {
  background-color: #11ffb3;
}

/*
.wrapper {
  display: grid;
	/*grid-template-columns: 250px 250px 250px 250px 250px 250px;*//*
	grid-auto-columns: 250px;
  grid-gap: 10px;
  background-color: none!important;
  color: #444;
}

.box {
  background-color: #444;
  color: #fff;
  border-radius: 5px;
  padding: 15px;
  font-size: 100%;
}
*/

.box {
	grid-area: main;
	background-color: #444;
	color: #fff;
	border-radius: 5px;
	padding: 20px;
	font-size: 100%;
}

.box:nth-child(even) {
  background-color: #ccc;
  color: #000;
}

    .wrapper {
        width: 600px;
        display: grid;
    grid-gap: 10px;
        grid-template-columns: repeat(10, 225px);
    }


/*
-----------------------------------------------------------------
-----------------------------------------------------------------
-----------------------------------------------------------------
-----------------------------------------------------------------
-----------------------------------------------------------------
-----------------------------------------------------------------
-----------------------------------------------------------------
-----------------------------------------------------------------
-----------------------------------------------------------------
-----------------------------------------------------------------
*/


/*-------------------------------SEARCH-----------------------------*/



/*data-positional="{&quot;on_right_side&quot;:true,&quot;left_side&quot;:355,&quot;right_side&quot;:1013}"*/

.Buscar fieldset {
	position: relative;
	display: inline-block;
	background: #fff;
	border: none;
	border-radius: 0px;
  }


  /*----------------------------------------------------------------------------------
  ----------------------------------------------------------------------------------
  ----------------------------------------------------------------------------------
  ----------------------------------------------------------------------------------
  ----------------------------------------------------------------------------------
  ----------------------------------------------------------------------------------
  ----------------------------------------------------------------------------------
  ----------------------------------------------------------------------------------
  --------------------------------------------------------------------------------------------------------------------------------------------------------------------
  ----------------------------------------------------------------------------------
  ----------------------------------------------------------------------------------
  */



div#sidebar-left a, div#sidebar-left a:visited {
	color: white;
	font-weight: bold;
	text-decoration: none;
	font-family:'arial'
} 
/*
div#sidebar-left a:hover {
	color: #878787;
	text-decoration: none;
} */



div#sidebar-left a, div#sidebar-left a > span {
  	position: relative;
  	/*color: inherit;*/
  	text-decoration: none;
}
div#sidebar-left a:before, div#sidebar-left a:after, div#sidebar-left a > span:before, div#sidebar-left a > span:after {
	content: '';
  	position: absolute;
  	transition: transform .5s ease;
}

.effect-3 {
  display: inline-block;
  overflow: hidden;
}
.effect-3:before {
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background: #0883a4;
  transform: translateX(-100%);
}
.effect-3:hover:before {
  transform: translateX(0);
}




/*0883a4
-----------------------------------------------------------------
-----------------------------------------------------------------
-----------------------------------------------------------------
-----------------------------------------------------------------
-----------------------------------------------------------------
-----------------------------------------------------------------
-----------------------------------------------------------------
-----------------------------------------------------------------
-----------------------------------------------------------------
-----------------------------------------------------------------
*/






.link--arrowed {
	display: inline-block;
	height: 2rem;
	line-height: 2rem;
  }
  .link--arrowed .arrow-icon {
	position: relative;
	top: -1px;
	-webkit-transition: -webkit-transform 0.3s ease;
	transition: -webkit-transform 0.3s ease;
	transition: transform 0.3s ease;
	transition: transform 0.3s ease, -webkit-transform 0.3s ease;
	vertical-align: middle;
  }
  .link--arrowed .arrow-icon--circle {
	-webkit-transition: stroke-dashoffset .3s ease;
	transition: stroke-dashoffset .3s ease;
	stroke-dasharray: 95;
	stroke-dashoffset: 95;
  }
  .link--arrowed:hover .arrow-icon {
	-webkit-transform: translate3d(5px, 0, 0);
			transform: translate3d(5px, 0, 0);
  }
  .link--arrowed:hover .arrow-icon--circle {
	stroke-dashoffset: 0;
	}
	




	/*
-----------------------------------------------------------------
-----------------------------------------------------------------
-----------------------------------------------------------------
-----------------------------------------------------------------
-----------------------------------------------------------------
-----------------------------------------------------------------
-----------------------------------------------------------------
-----------------------------------------------------------------
-----------------------------------------------------------------
-----------------------------------------------------------------
*/





/*



	@import url(https://fonts.googleapis.com/css?family=Lato:100,300,400);
	@import url(http://fonts.googleapis.com/css?family=Lato:100,300,400);

	input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
		color: #aca49c;
		font-size: 0.875em;
	}
	
	input:focus::-webkit-input-placeholder, textarea:focus::-webkit-input-placeholder {
		color: #bbb5af;
	}
	
	input::-moz-placeholder, textarea::-moz-placeholder {
		color: #aca49c;
		font-size: 0.875em;
	}
	
	input:focus::-moz-placeholder, textarea:focus::-moz-placeholder {
		color: #bbb5af;
	}
	
	input::placeholder, textarea::placeholder {
		color: #aca49c;
		font-size: 0.875em;
	}
	
	input:focus::placeholder, textarea::focus:placeholder {
		color: #bbb5af;
	}
	
	input::-ms-placeholder, textarea::-ms-placeholder {
		color: #aca49c;
		font-size: 0.875em;
	}
	
	input:focus::-ms-placeholder, textarea:focus::-ms-placeholder {
		color: #bbb5af;
	}
	
	/* on hover placeholder *//*
	
	input:hover::-webkit-input-placeholder, textarea:hover::-webkit-input-placeholder {
		color: #e2dedb;
		font-size: 0.875em;
	}
	
	input:hover:focus::-webkit-input-placeholder, textarea:hover:focus::-webkit-input-placeholder {
		color: #cbc6c1;
	}
	
	input:hover::-moz-placeholder, textarea:hover::-moz-placeholder {
		color: #e2dedb;
		font-size: 0.875em;
	}
	
	input:hover:focus::-moz-placeholder, textarea:hover:focus::-moz-placeholder {
		color: #cbc6c1;
	}
	
	input:hover::placeholder, textarea:hover::placeholder {
		color: #e2dedb;
		font-size: 0.875em;
	}
	
	input:hover:focus::placeholder, textarea:hover:focus::placeholder {
		color: #cbc6c1;
	}
	
	input:hover::placeholder, textarea:hover::placeholder {
		color: #e2dedb;
		font-size: 0.875em;
	}
	
	input:hover:focus::-ms-placeholder, textarea:hover::focus:-ms-placeholder {
		color: #cbc6c1;
	}
	

	
	header {
		position: relative;
		margin: 100px 0 25px 0;
		font-size: 2.3em;
		text-align: center;
		letter-spacing: 7px;
	}
	
	#register {
		position: relative;
		width: 500px;
		margin: 50px auto 100px auto;
	}
	
	input {
		font-family: 'Lato', sans-serif;
		font-size: 0.875em;
		width: 470px;
		height: 50px;
		padding: 0px 15px 0px 15px;
		
		background: transparent;
		outline: none;
		color: #726659;
		
		border: solid 1px #b3aca7;
		border-bottom: none;
		
		transition: all 0.3s ease-in-out;
		-webkit-transition: all 0.3s ease-in-out;
		-moz-transition: all 0.3s ease-in-out;
		-ms-transition: all 0.3s ease-in-out;
	}
	
	input:hover {
		background: #b3aca7;
		color: #e2dedb;
	}
	
	textarea {
		width: 470px;
		max-width: 470px;
		height: 110px;
		max-height: 110px;
		padding: 15px;
		
		background: transparent;
		outline: none;
		
		color: #726659;
		font-family: 'Lato', sans-serif;
		font-size: 0.875em;
		
		border: solid 1px #b3aca7;
		
		transition: all 0.3s ease-in-out;
		-webkit-transition: all 0.3s ease-in-out;
		-moz-transition: all 0.3s ease-in-out;
		-ms-transition: all 0.3s ease-in-out;
	}
	
	textarea:hover {
		background: #b3aca7;
		color: #e2dedb;
	}
	
	#submit {
		width: 502px;
		
		padding: 0;
		margin: -5px 0px 0px 0px;
		
		font-family: 'Lato', sans-serif;
		font-size: 0.875em;
		color: #42403f;
		
		outline:none;
		cursor: pointer;
		
		border: solid 1px #b3aca7;
		border-top: none;
	}
	
	#submit:hover {
		color: #e2dedb;
	}*/