/*----------------------------------------------Import Fonts---------------------------------------------------------*/

@import url(https://fonts.googleapis.com/css?family=Lato:100,300,400);
@import url(http://fonts.googleapis.com/css?family=Lato:100,300,400);
@import url('https://fonts.googleapis.com/css?family=Raleway:300,400i,900');


/*---------------------------------Common classes description-------------------*/

.webTitle {
	text-transform: uppercase;
	font-weight: 300;
	font-size: 5rem;
	color: #f8f8f8;
	margin-top: 0;
	margin: 0;
	margin-left: 1;
	line-height: 1;
}

body {
	font-family: "Raleway", sans-serif;
	font-weight: 300;
	line-height: 1.6;
	color: #f8f8f8;
	margin: 0;
}

/*---------------------------------Common classes description end---------------*/


/*----------------------------------------------BODY RESPONSIVE STRUCTURE--------------------------------------------*/

*, *::before, *::after{
	box-sizing: border-box;
}

.site {
	display: grid;
	grid-gap: 5px;
	grid-template: auto;
	grid-template-areas: 
		"title"
		"sidebar"
		"main"
		"footer";
}


.maincontent {
	grid-area: main;
	background-color: #878787;
}



@media (min-width: 760px) {
	.site {
		display: grid;
		grid-gap: 0px;
		grid-template-columns: 1fr 6fr;
		grid-template-rows: 1fr 4fr 0.25fr;
		grid-template-areas: 
			"title title"
			"sidebar main"
			"footer footer";
	}
}


/*----------------------------------------------header/cabezera----------------------------------------------*/

.header {
	grid-area: title;
	background-color: #596666;
}

.welcome {
	width: 100%;
	text-align: right;
	color: #f8f8f8;
}


/*----------------------------------------------Menu/sidebarIzq-----------------------------------------------*/

.sidebar {
	grid-area: sidebar;
	background-color: #adafaf;
}

.left-sidebar {
	font-family: "Raleway", sans-serif;
	font-weight: 300;
	color: #f8f8f8;
}

.lSidebarContent {
	font-family: "Raleway", sans-serif;
	color: white;
	font-weight: bold;
}

@media screen and (min-width: 600px) {
  .left-sidebar {
    font-size: 17px;
  }
}

.menu ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}


/*----------------------------------------------contenido/Content----------------------------------------------*/


div#contenido {
	/*width: 85%;
  	float: left;
 	 padding: 15px;*/
	/*
	padding:2%;
	float:left;
	width: 79%;*/
	/*border: 1px solid red;*/
	min-height: 600px;
	color: #2f2d2d;
	background-color: #ece9e7;
	text-align: justify;
}


/*----------------------------------------------Footer/pie-----------------------------------------------------*/

.footer {
	grid-area: footer;
	background-color: #000000;
	text-align: center;
}

/*----------------------------------------------Generic tags----------------------------------------------------*/

img {
	max-width: 100%;
	height: auto;
}

fieldset {
	border: 1px solid black;
	width: 16em;
	text-align: right;
	margin: 0 auto;
}


legend {
	color: #fff;
	background: #303030;
	text-align: left;
	border: 1px solid black;
	padding: 2px 6px;
} 

label {
	width: 4em;
	float: left;
	text-align: left;
	margin-right: 0.5em;
	display: block;
}

button {
	margin-left: 100px;
} 



/*-----------------------------------------------Vista Contenido/Vista Follow--------------------------------------------*/


.eventCont, .followCont{
	width: 40%;
	border-style: solid;
	border-color: rgb(0, 0, 0);
	border-width: 4px;
	margin-top: 15px;
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	box-sizing: border-box;
}

@media only screen and (max-width: 768px) {
	.eventCont, .followCont{
		width: 100%;
	}
}

@media only screen and (min-width: 768px) {
	.eventCont, .followCont{
		width: 60%;
		/*height: 15%;*/
	}
}

@media only screen and (min-width: 1151px) {
	.eventCont, .followCont{
		width: 50%;
	}
}

@media only screen and (min-width: 1400px) {
	.eventCont, .followCont{
		width: 40%;
	}
}

.eventCont>div, .followCont>div{
	/*background-color: rgb(25, 59, 87);*/
	color: rgb(0, 0, 0);
	text-align: center;
	width: 250px;
	font-size: 100%;
	margin: 4px;
}

div.nameFollowing button, div.nameFollowing h2{
	text-transform:capitalize;
	text-align: left;
}

div.nameFollowing{
	box-sizing: border-box;
	text-align: left;
}

div.nameFollowing button {
	margin-left: -0px;
	text-align: left;
	background: none!important;
	border: none; 
	padding: 0!important;

	position: relative;
  	cursor: pointer;
  	outline: none;
  	font-size: 14px;
}

/*-----------------------------------------------Vista Index------------------------------------------------*/




/*-----------------------------------------------Form Search------------------------------------------------*/

.formSearch {
	align-content: center;
	position: relative;
	font-family: "Raleway", sans-serif;
}
.formSearch input[type=text] {
	border: none;
	border-bottom: lightsteelblue;
	width: 120px;
	-webkit-transition: width 0.4s ease-in-out;
	transition: width 0.4s ease-in-out;
}

.formSearch input[type=text]:focus {
	width: 50%;
}


/*----------------------------------------------Vista Evento-------------------------------------------------*/
  .cont {box-sizing: border-box;} /*users too*/

  .wrapperEvent {
	display: grid;
	grid-template-columns: repeat(12, [col-start] 1fr);
	grid-gap: 20px;
  }
  
  .wrapperEvent > * {
	grid-column: col-start / span 12;
  }

  .event-title h1, .event-img{
	  text-align: center;
  }
  .event-title form{
	text-align: right;
}

  
  @media (min-width: 500px) {
  
 
  .event-content, .event-com {
	grid-column: col-start 4 / span 9;
  }
  }
  
  @media (min-width: 700px) {
	.event-title {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
	}
	.event-img{
		grid-column: col-start  / span 12;
	  	grid-row: 2 / 4;
	}
	.event-inf{
		
		grid-column: col-start  / span 12;
		grid-row: 4 / 5;
		display: grid;
		grid-template-columns: repeat(3, 1fr);
	}
	.event-content {
	  grid-column: col-start  / span 12;
	  grid-row: 5 / 6;
	}

	.event-com {
	  grid-column: col-start / span 12;
	}
  }



/*---------------------------------------------- MiniEvento---------------------------------------------------*/

.miniEvent p{
	text-align: center;
	color: rgb(0, 0, 0);
	margin: 0px;
	padding: 0px;
	border: 0px;
}

.miniEvent{
	border-style: solid;
	border-color: rgb(0, 0, 0);
	background-color: rgba(62, 69, 75, 0.836);/*rgba(25, 59, 87, 0.836);*/
}

.miniEvent .imgEventMini{
	width: 100%;
}



/*----------------------------------------------Vista Usuario------------------------------------------------*/


#follow {
    background:none!important;
     border:none; 
     padding:0!important;
    
    /*optional*/
    font-family:arial,sans-serif; /*input has OS specific font-family*/
     color:#069;
     text-decoration:underline;
     cursor:pointer;
}

  .wrapperUser {
	display: grid;
	grid-template-columns: repeat(12, [col-start] 1fr);
	grid-gap: 20px;
  }
  
  .wrapperUSer > * {
	grid-column: col-start / span 12;
  }

  .user-title h1, .user-img{
	  text-align: center;
  }
  .user-title form{
	text-align: right;
}

  
  @media (min-width: 500px) {
  
 
  .user-content, .user-com {
	grid-column: col-start 4 / span 9;
  }
  }
  
  @media (min-width: 700px) {
	.user-title {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
	}
	.user-img{
		grid-column: col-start  / span 12;
	  	grid-row: 2 / 4;
	}
	.user-inf{
		
		grid-column: col-start  / span 12;
		grid-row: 4 / 5;
		display: grid;
		grid-template-columns: repeat(3, 1fr);
	}
	.user-content {
	  grid-column: col-start  / span 12;
	  grid-row: 5 / 6;
	}

	.user-com {
	  grid-column: col-start / span 12;
	}
  }



/*----------------------------------------------Vista Search-----------------------------------------------------*/

#searchButton {
	margin-left: -0px;
	background: none!important;
	/*color: inherit;*/
	color:#2175FF;
	border: none; 
	padding: 0!important;
	font: inherit;
	/*border is optional*/
	/*border-bottom: 1px solid #444; */
	cursor: pointer;

}

div#search {
	width: 900px;
	margin: auto;
	border: 1px solid black;
	background-color: #aaaaaa;
	margin-top: 30px;
}


/*----------------------------------------------Buttons Edit Delete--------------------------------------------*/


.buttonEdit, .buttonFollow {
	margin-left: -0px;
	margin-bottom: 5px;
	margin-top: 5px;
	padding: 0!important;
	border: none;
  	background-color: #ebebf0;
  	-webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  	-webkit-user-select: none;
		-moz-user-select: none;
      	-ms-user-select: none;
        	user-select: none;
  	position: relative;
  	z-index: 1;
  	padding: 0;
}

.buttonEdit:before, .buttonFollow:before {
	content: "";
  	position: absolute;
  	z-index: -1;
  	width: 10px;
  	right: 0;
  	top: 0;
  	bottom: 0;
  	background-color: rgba(0, 10, 50, 0.2);
  	-webkit-transition: -webkit-transform 0.6s cubic-bezier(0, 0.9, 0.13, 0.9);
  	transition: -webkit-transform 0.6s cubic-bezier(0, 0.9, 0.13, 0.9);
  	transition: transform 0.6s cubic-bezier(0, 0.9, 0.13, 0.9);
  	transition: transform 0.6s cubic-bezier(0, 0.9, 0.13, 0.9), -webkit-transform 0.6s cubic-bezier(0, 0.9, 0.13, 0.9);
  	-webkit-transform: translate3D(0, 0, 0);
        	transform: translate3D(0, 0, 0);
}
.buttonEdit:after, .buttonFollow:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: #ebebf0;
  z-index: -1;
}
.buttonEdit:hover:before, .buttonEdit:focus:before, .buttonFollow:hover:before, .buttonFollow:focus:before {
  -webkit-transform: translate3D(10px, 0, 0);
          transform: translate3D(10px, 0, 0);
}
.buttonEdit:active:before, .buttonFollow:active:before {
  -webkit-transform: translate3D(0, 0, 0);
          transform: translate3D(0, 0, 0);
}
.buttonEdit:focus, .buttonEdit:active, .buttonFollow:focus, .buttonFollow:active {
  outline: none;
}



.buttonEdit .button__inner, .buttonFollow .button__inner{
  	text-transform: uppercase;
	letter-spacing: 0.15em;
	font-size: 15px;
  	color: #333;
  	padding: 1em 1.5em;
  	background-color: #fbfbfb;
  	display: block;
  	width: 100%;
  	height: 100%;
  	-webkit-transition: -webkit-transform 0.6s cubic-bezier(0, 0.9, 0.13, 0.9);
  	transition: -webkit-transform 0.6s cubic-bezier(0, 0.9, 0.13, 0.9);
  	transition: transform 0.6s cubic-bezier(0, 0.9, 0.13, 0.9);
  	transition: transform 0.6s cubic-bezier(0, 0.9, 0.13, 0.9), -webkit-transform 0.6s cubic-bezier(0, 0.9, 0.13, 0.9);
  	position: relative;
}

@media only screen and (max-width: 408px) {
  .buttonEdit .button__inner, .buttonFollow .button__inner{
    font-size: 10px;
  }
}
.buttonEdit:hover .button__inner, .buttonEdit:focus .button__inner, .buttonFollow:hover .button__inner, .buttonFollow:focus .button__inner {
  -webkit-transform: translate3D(0, -10px, 0);
          transform: translate3D(0, -10px, 0);
}
.buttonEdit:active .button__inner, .buttonFollow:active .button__inner {
  -webkit-transform: translate3D(0, 0, 0);
          transform: translate3D(0, 0, 0);
}
.buttonEdit:hover .button__inner, .buttonEdit:focus .button__inner, .buttonFollow:hover .button__inner, .buttonFollow:focus .button__inner {
  background-color: #fff;
}

.buttonDelete {
	color: #fff;
  	background-color: #252525;
  	/*#00d18e*/
  	z-index: 0;
}
.buttonDelete:after {
	color: #fff;
  background-color: #252525;
  /*#00d18e*/
}
.buttonDelete .button__inner {
	color: #fff;
  background-color: #000000;
  /*#00ffb2*/
}
.buttonDelete:hover .button__inner, .buttonDelete:focus .button__inner {
	color: #fff;
  background-color: #000000;
  /*#11ffb3*/
}





/*----------------------------------------------Links Menu--------------------------------------------*/

div#sidebar-left a, div#sidebar-left a:visited {
	color: white;
	font-weight: bold;
	text-decoration: none;
	font-family:'arial'
} 



div#sidebar-left a, div#sidebar-left a > span {
  	position: relative;
  	/*color: inherit;*/
  	text-decoration: none;
}
div#sidebar-left a:before, div#sidebar-left a:after, div#sidebar-left a > span:before, div#sidebar-left a > span:after {
	content: '';
  	position: absolute;
  	transition: transform .5s ease;
}

.underlineBlue {
  display: inline-block;
  overflow: hidden;
}
.underlineBlue:before {
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background: #c5c5c5;
  /*#0883a4*/
  transform: translateX(-100%);
}
.underlineBlue:hover:before {
  transform: translateX(0);
}



/*----------------------------------------------Links Search Users(Most likely not needed)--------------------------------------------*/


.link--arrowed {
	display: inline-block;
	height: 2rem;
	line-height: 2rem;
  }
  .link--arrowed .arrow-icon {
	position: relative;
	top: -1px;
	-webkit-transition: -webkit-transform 0.3s ease;
	transition: -webkit-transform 0.3s ease;
	transition: transform 0.3s ease;
	transition: transform 0.3s ease, -webkit-transform 0.3s ease;
	vertical-align: middle;
  }
  .link--arrowed .arrow-icon--circle {
	-webkit-transition: stroke-dashoffset .3s ease;
	transition: stroke-dashoffset .3s ease;
	stroke-dasharray: 95;
	stroke-dashoffset: 95;
  }
  .link--arrowed:hover .arrow-icon {
	-webkit-transform: translate3d(5px, 0, 0);
			transform: translate3d(5px, 0, 0);
  }
  .link--arrowed:hover .arrow-icon--circle {
	stroke-dashoffset: 0;
	}