/*----------------------------------------------Import Fonts---------------------------------------------------------*/

@import url(https://fonts.googleapis.com/css?family=Lato:100,300,400);
@import url(https://fonts.googleapis.com/css?family=Raleway:300,400i,900);

/*----------------------------------------------Responsive Structure--------------------------------------------*/

*, *::before, *::after{
	box-sizing: border-box;
}

.site {
	display: grid;
	grid-gap: 0px;
	/*grid-template: auto;*/
	grid-template-columns: 100%;
	grid-template-rows: 150px auto 4fr 40px;
	grid-template-areas: 
		"title"
		"sidebar"
		"main"
		"footer";
}

.maincontent {
	
	grid-area: main;
	min-height: 600px;
	color: #2f2d2d;
	background-color: #ece9e7;
	text-align: justify;
}

@media (min-width: 760px) {
	.site {
		display: grid;
		grid-gap: 0px;
		grid-template-columns: 1.2fr 6fr;
		grid-template-rows: 150px 4fr 50px;
		grid-template-areas: 
			"title title"
			"sidebar main"
			"footer footer";
	}
}


/*----------------------------------------------header/cabezera----------------------------------------------*/

.header {
	grid-area: title;
	padding: 7px;
	background-color: #0f1b1f;
	color: white;
}

@media only screen and (max-width: 450px) {
	.headerContent h1{
		font-size:15vw; 
	}
	.welcome {
		font-size:4vw;
	}
}

.header a, .header a:visited {
	color: white;
	font-weight: bold;
	text-decoration: none;
} 

.header a:hover {
	color: #878787;
	font-weight: bold;
	text-decoration: underline;
} 

.welcome {
	width: 100%;
	text-align: right;
	color: #f8f8f8;
}

.webTitle {
	text-transform: uppercase;
	font-weight: 300;
	font-size: 5rem;
	color: #f8f8f8;
	margin-top: 0;
	margin: 0;
	margin-left: 1;
	line-height: 1;
}

/*----------------------------------------------Menu/sidebarIzq-----------------------------------------------*/

.sidebar {
	grid-area: sidebar;
	background-color: #1d292d;
}

.left-sidebar {
	padding: 7px;
}

.lSidebarContent {
	font-family: 'arial', sans-serif;
	font-weight: 300;
	color: white;
	font-weight: bold;
}

@media screen and (max-width: 600px) {
  .left-sidebar {
    font-size: 4vw;
  }
}

.menu ul {
	list-style-type: none;
	margin: 0;
	padding-left: 5px;
}

.menu h3 {
	color: rgb(255, 255, 255);
	font-family: 'arial';
	margin-bottom: 10px;
}


/*----------------------------------------------Body----------------------------------------------*/


body {
	font-family: 'Lato', sans-serif;
	font-weight: 300;
	line-height: 1.6;
	color: #000000;
	margin: 0;
}

.site{
	width: 100%;
	background-color: #1d292d;
	margin: 0px;
}


/*----------------------------------------------Footer/pie-----------------------------------------------------*/

.footer {
	grid-area: footer;
	background-color: #000000;
	text-align: center;
}

.imgFooter{
	margin-top: 5px;
	width: 30px;
	height: 30px;
}

@media (min-width: 760px) {
	.imgFooter{
		margin-top: 5px;
		width: 42px;
		height: 42px;
	}
}


/*--------------------------------------------Multiple times used ----------------------------------------------------------*/

img {
	max-width: 100%;
	height: auto;
}


.wrapper{
	padding-bottom: 5px;
	display: grid;
	grid-template-columns: repeat(12, [col-start] 1fr);
	grid-gap: 20px;
	
}
.wrapper > * {
	grid-column: col-start / span 12;
}

.site-content {
	margin-top: 10px;
	margin-left: 50px;
	margin-right: 50px;
	box-sizing: border-box;
} 

.site-content h1{
	border-style: solid;
	border: black;
	border-width: 1px;

}


/*-----------------------------------------------Vista Contenido & Vista Follow--------------------------------------------*/


.content-title h2, .follow-title h2{
		text-align: left;
		margin: 5px;
}
	
.content-title, .follow-title{
	border-style: solid;
	border-color: rgb(0, 0, 0);
	border-width: 1px;
}

.content-title, .follow-title{
	grid-column: col-start  / span 12;
}
.content-events, .follow-user{
	grid-column: col-start  / span 12;
}

.eventCont, .followCont{
	width: 40%;
	border-style: solid;
	border-color: rgb(0, 0, 0);
	border-width: 3px;
	margin-top: 15px;
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	box-sizing: border-box;
}

.eventCont h1{
	font-size:1vw;
}

.eventCont p{
	font-size:.9vw;
}

@media only screen and (max-width: 768px) {
	.eventCont, .followCont{
		width: 100%;
	}
	.eventCont h1{
		font-size:5vw;
	}
	.eventCont p{
		font-size:3vw;
	}
	.followCont .miniEvent, .no-event, .eventCont .miniEvent{
		display: none;
	}
}

@media only screen and (min-width: 768px) {
	.eventCont, .followCont{
		width: 100%;
	}
	.eventCont h1{
		font-size:2.1vw;
	}
	.eventCont p{
		font-size:1.4vw;
	}
}

@media only screen and (min-width: 990px) {
	.eventCont, .followCont{
		width: 60%;
	}
	.eventCont h1{
		font-size:1.5vw;
	}
	.eventCont p{
		font-size:1vw;
	}
}

@media only screen and (min-width: 1280px) {
	.eventCont, .followCont{
		width: 50%;
	}
	.eventCont h1{
		font-size:1.2vw;
	}
	.eventCont p{
		font-size:.9vw;
	}
}

.eventCont>div, .followCont>div{
	color: rgb(0, 0, 0);
	text-align: center;
	width: 250px;
	font-size: 100%;
	margin: 4px;
}

div.nameFollowing{
	box-sizing: border-box;
	text-align: left;
}

div.nameFollowing button, div.nameFollowing h2{
	text-transform:capitalize;
	text-align: left;
}
div.nameFollowing h2, div.nameFollowing h1{
	margin: 0px;	
}

div.nameFollowing button {
	margin-left: -0px;
	text-align: left;
	background: none!important;
	border: none; 
	padding: 0!important;

	position: relative;
  	cursor: pointer;
  	outline: none;
  	font-size: 14px;
}


/*-----------------------------------------------Vista Index------------------------------------------------*/


.index-title h1{
	/*align-items: center;*/
  	text-align: center;
}
	
.index-title h2{
	text-align: left;
	margin: 2px;
}
	
.index-sigue {
	padding: 2px;
	border-style: solid;
	border-color: rgb(0, 0, 0);
	border-width: 1px;
}

.index-title {
	border-style: solid;
	border-color: rgb(0, 0, 0);
	border-width: 1px;
}

@media only screen and (min-width: 250px) {

  	.index-contLogout, .user-events{
		grid-column: col-start  / span 12;
		display: grid;
		grid-template-columns: repeat(2, 1fr);
	}

	.single-event h1{
		font-size:5.1vw;
	}

	.single-event p{
		font-size:3.4vw;
	}
	.index-title{
		font-size:3.1vw;
	}

}

@media only screen and (min-width: 770px) {
	.index-title {
		display: grid;
	}

	.index-content {
  		grid-column: col-start  / span 12;
		display: grid;
		grid-template-columns: repeat(2, 1fr);
	}

	.index-contLogout, .user-events{
		grid-column: col-start  / span 12;
		display: grid;
		grid-template-columns: repeat(6, 1fr);
	}

	.index-contLogout .event1{
		visibility: visible;
	}

	.single-event h1{
		font-size:2.4vw;
	}
	.single-event p{
		font-size:1.4vw;
	}

	.index-title{
		font-size:1vw;
	}

}

.single-event{
	width: 100%;
	border-style: solid;
	border-color: rgb(0, 0, 0);
	border-width: 4px;
	margin-bottom: 5px;
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	box-sizing: border-box;
}

.single-event>div{
	color: rgb(0, 0, 0);
	text-align: center;
	width: 100%;
	font-size: 100%;
	margin: 4px;
}

/*-----------------------------------------------Form Search------------------------------------------------*/


.formSearch {
	width: 100%;
	align-content: left;
	position: relative;
	font-family: "Raleway", sans-serif;
}

.formSearch input[type=text] {
	border: none;
	width: 120px;
	-webkit-transition: width 0.4s ease-in-out;
	transition: width 0.4s ease-in-out;
}

.formSearch input[type=text]:focus {
	width: 40%;
}


/*-----------------------------------------------Vista Search------------------------------------------------*/


.search {
	overflow: hidden;
	padding-left: 7px;
}

.search input {
	width: 120px;
	-webkit-transition: width 0.4s ease-in-out;
	transition: width 0.4s ease-in-out;
}

search input:focus {
	width: 100%;
}

#searchButton {
	margin-left: -0px;
	background: none!important;
	color:#2175FF;
	border: none; 
	padding: 0!important;
	font: inherit;
	cursor: pointer;

}

.search-title {
	border-style: solid;
	border-color: rgb(0, 0, 0);
	border-width: 1px;
}

.search-title h2{
	text-align: left;
	margin: 2px;
}

.search-title h3{
	text-align: left;
	margin: 2px;
}

.search-title{
	grid-column: col-start  / span 12;
}

.content-search{
	grid-column: col-start  / span 12;
}

.search-switch{
	grid-column: col-start  / span 12;
}

.search-switch {
	grid-column: col-start  / span 12;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
}

.search-switch .formSearchUser{
	text-align: right;
}

@media only screen and (max-width: 490px) {
	.content-search{
		font-size:3.7vw;
	}

	.search-title h1{
		font-size:5.5vw;
	}

	.search-title h3{
		font-size:4.1vw;
	}

	.formSearchUser .button-switch {
		padding: 10px 40px;
		font-size:3vw;
	}

	.formSearchEvent .button-switch{
		padding: 10px 30px;
		font-size:3vw;
	}
}

@media only screen and (min-width: 490px) {
	.button-switch {
		padding: 15px 70px;
	  }
}

.button-switch {
	margin: 0%;
	background-color:  transparent;
	letter-spacing: 4px;
	color: black;
	border: 1px solid black;
	text-transform: uppercase;
	position: relative;
	overflow: hidden;
	cursor: pointer;
}
	
.button-switch span {
	font-family: sans-serif;
	position: relative;
	z-index: 100;
}
	
.button-switch:before, .button-switch:after {
	content: '';
	color: white;
	position: absolute;
	display: block;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
}
	

.searchEvent:after span{
	color: white;
}

.button-switch:before {
	
	-webkit-transform: translate3d(-100%, 0, 0);
			transform: translate3d(-100%, 0, 0);
	background-color: #1d292d;
	border: 1px solid #1d292d;
	-webkit-transition: -webkit-transform 300ms cubic-bezier(0.55, 0.055, 0.675, 0.19);
	transition: -webkit-transform 300ms cubic-bezier(0.55, 0.055, 0.675, 0.19);
	transition: transform 300ms cubic-bezier(0.55, 0.055, 0.675, 0.19);
	transition: transform 300ms cubic-bezier(0.55, 0.055, 0.675, 0.19), -webkit-transform 300ms cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.button-switch:after {
	background-color: black;
	border: 1px solid black;
	-webkit-transform: translate3d(100%, 0, 0);
			transform: translate3d(100%, 0, 0);
	-webkit-transition: -webkit-transform 300ms 300ms cubic-bezier(0.16, 0.73, 0.58, 0.62);
	transition: -webkit-transform 300ms 300ms cubic-bezier(0.16, 0.73, 0.58, 0.62);
	transition: transform 300ms 300ms cubic-bezier(0.16, 0.73, 0.58, 0.62);
	transition: transform 300ms 300ms cubic-bezier(0.16, 0.73, 0.58, 0.62), -webkit-transform 300ms 300ms cubic-bezier(0.16, 0.73, 0.58, 0.62);

}

.button-switch:hover:before {
	-webkit-transform: translate3d(0, 0, 0);
			transform: translate3d(0, 0, 0);
}

.button-switch:hover:after {
	-webkit-transform: translate3d(0, 0, 0);
			transform: translate3d(0, 0, 0);
}

.button-switch:hover, .button-switch:focus {
		color: #fff;
}


.inputSearch{
	font-family: sans-serif;
	color: white;
	background-color: transparent;
	border-style: solid;
	border-color: white;
	border-width: 1px;
}
  

/*----------------------------------------------Vista Evento-------------------------------------------------*/


.event-title h1{
	text-align: center;
}
.event-title form{
	text-align: right;
}

.event-img{
	display: block;
    /*margin-left: auto;
    margin-right: auto;
	width: 50%;*/
	height: auto; 
	width: 100%; 
	text-align:center;
}

@media only screen and (max-width: 768px) {
	.event-title form{
		text-align: center;
	}
		  
	.site-content {
		margin-left: 5px;
		margin-right: 5px;
	} 
	
}

@media only screen and (min-width: 500px) {
  
	.site-content {
		margin-left: 5px;
		margin-right: 5px;
	} 
	
}


@media only screen and (min-width: 700px) {
	.event-title {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
	}
	
	.event-img{
		grid-column: col-start  / span 12;
	  	grid-row: 2 / 4;
	}

	.event-inf{
		grid-column: col-start  / span 12;
		grid-row: 4 / 5;
		display: grid;
		grid-template-columns: repeat(3, 1fr);
	}
	

		/*.cont {
			margin-left: 50px;
			margin-right: 50px;
		} */
}
	
@media only screen and (min-width: 1151px) {
	.site-content {
		margin-left: 25px;
		margin-right: 25px;
	} 
}



/*---------------------------------------------- MiniEvento---------------------------------------------------*/


.miniEvent p{
	font-family: "Raleway", sans-serif;
	text-align: center;
	color: rgb(0, 0, 0);
	margin: 0px;
	padding: 0px;
	border: 0px;
	top: 160px;
	/*position: relative;*/
}

.miniEvent{
	border-style: solid;
	border-color: rgb(0, 0, 0);
	background-color: rgba(62, 69, 75, 0.836);/*rgba(25, 59, 87, 0.836);*/
/*
	width:200px;
    height:200px;
    overflow:hidden;
    position: relative;*/
	
}

.miniEvent .imgEventMini{
	/*idth: 315px;*/
	width: 100%;
	max-height: 190px;
	/*position: absolute;
	top: -50%;
    left: -50%;
    top: -100px;
    left: -100px;*/
}

/*
.imgEventMini {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    width: 150px;
}

.imgEventMini:hover {
    box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.5);
}*/


/*----------------------------------------------Vista Usuario------------------------------------------------*/

.user-title h1{
	text-align: center;
}

.user-title h3{
	margin: 2px;
}


.user-title form{
	text-align: center;
}

@media only screen and (min-width: 700px) {
	.user-title form{
		text-align: right;
	}

	.user-title {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
	}

	.user-inf{
		grid-column: col-start  / span 12;
		grid-row: 2 / 3;
		display: grid;
		grid-template-columns: repeat(3, 1fr);
	}
  }



/*------------------------------------------FormsUpdate/Create/Delete/Login/Register-----------------------------------------------------*/
.form-content{
	width: 50%;
}


.formEvents legend {
	color: #fff;
	background: #303030;
	text-align: left;
	border: 1px solid black;
	padding: 2px 6px;
} 

.formEvents label {
	width: 4em;
	float: left;
	text-align: left;
	margin-right: 0.5em;
	display: block;
}

button.field {
	border:0;
	margin: 20px;
	width: 200px;
	padding:12px 20px;
	font-size: 25px;
	background-color: #555555;
	text-align: center;
	color:white;
} 

button.field,button.fieldDelete:hover {
	cursor: pointer;
}

button.fieldDelete{
	border:0;
	width: 100%;
	margin: auto;
	padding: 30px;
	font-size: 25px;
	text-align: center;
	background-color: #555555;
	color:white;
	float: right;
}

input.field,textarea.field{
	width: 100%;
	padding: 12px;
	border: 1px solid #ccc;
	border-radius: 0px;
	font-size:16px;
	background-color: #d3d0cea8;
	border: solid;
	border-color: rgba(124, 124, 124, 0.705);
	border-width: 1px;
}

input.fieldDatePrice{
	font-size:16px;
	background-color: #d3d0ce;
	border: solid;
	border-color: rgba(124, 124, 124, 0.705);
	border-width: 1px;
}

textarea.field{
	min-height: 100px;
	max-height: 200px;
	max-width: 500px;
	min-width: 100px;
	resize:vertical;
}

fieldset.formEvents{
	border:0;
	width: 100%;
	color: rgb(80, 78, 78);
	font-size: 20px;
	text-align: left;
	background-color: #d3d0ce;
	position: relative;
	margin: auto;
}

fieldset.formDeleteEvents{
	border:0;
	width: 100%;
	color: rgb(80, 78, 78);
	font-size: 20px;
	background-color: #d3d0ce;
	border-radius: 5px;
	position: relative;
	padding: 25px;
	justify-content: space-between;
	margin: auto;
}

@media screen and (max-width: 600px) {
	.form-title h1{
		font-size:5vw;
	}
}

@media (max-width: 760px) {
	.formEvents button.field {
		width: 130px;
		margin: 5px 0px;
		padding: 12px 5px;
		font-size: 15px;
	} 

	.fieldImg{
		width: 130px;
	}

	.formEvents input.fieldDatePrice{
		font-size:12px;
	}
	
	.formEvents input.field,.formEvents textarea.field{
		font-size:12px;		
	}

}

@media (max-width: 1000px) {
	.form-content{
		width: 100%;
	}
}

@media screen and(min-width: 200px){
	.input.field, .textarea.field, .button.field, .input.fieldDatePrice{
		width: 100%;
       	margin-top: 0;
	}
}



/*----------------------------------------------Buttons Edit Delete--------------------------------------------*/


.buttonEdit, .buttonFollow {
	margin-left: -0px;
	margin-bottom: 5px;
	margin-top: 5px;
	padding: 0!important;
	border: none;
  	background-color: #ebebf0;
  	-webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  	-webkit-user-select: none;
		-moz-user-select: none;
      	-ms-user-select: none;
        	user-select: none;
  	position: relative;
  	z-index: 1;
  	padding: 0;
}

.buttonEdit:before, .buttonFollow:before {
	content: "";
  	position: absolute;
  	z-index: -1;
  	width: 10px;
  	right: 0;
  	top: 0;
  	bottom: 0;
  	background-color: rgba(0, 10, 50, 0.2);
  	-webkit-transition: -webkit-transform 0.6s cubic-bezier(0, 0.9, 0.13, 0.9);
  	transition: -webkit-transform 0.6s cubic-bezier(0, 0.9, 0.13, 0.9);
  	transition: transform 0.6s cubic-bezier(0, 0.9, 0.13, 0.9);
  	transition: transform 0.6s cubic-bezier(0, 0.9, 0.13, 0.9), -webkit-transform 0.6s cubic-bezier(0, 0.9, 0.13, 0.9);
  	-webkit-transform: translate3D(0, 0, 0);
        	transform: translate3D(0, 0, 0);
}

.buttonEdit:after, .buttonFollow:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: #ebebf0;
  z-index: -1;
}

.buttonEdit:hover:before, .buttonEdit:focus:before, .buttonFollow:hover:before, .buttonFollow:focus:before {
  -webkit-transform: translate3D(10px, 0, 0);
          transform: translate3D(10px, 0, 0);
}

.buttonEdit:active:before, .buttonFollow:active:before {
  -webkit-transform: translate3D(0, 0, 0);
          transform: translate3D(0, 0, 0);
}

.buttonEdit:focus, .buttonEdit:active, .buttonFollow:focus, .buttonFollow:active {
  outline: none;
}

.buttonEdit .button__inner, .buttonFollow .button__inner{
  	text-transform: uppercase;
	letter-spacing: 0.15em;
	font-size: 15px;
  	color: #333;
  	padding: 1em 1.5em;
  	background-color: #fbfbfb;
  	display: block;
  	width: 100%;
  	height: 100%;
  	-webkit-transition: -webkit-transform 0.6s cubic-bezier(0, 0.9, 0.13, 0.9);
  	transition: -webkit-transform 0.6s cubic-bezier(0, 0.9, 0.13, 0.9);
  	transition: transform 0.6s cubic-bezier(0, 0.9, 0.13, 0.9);
  	transition: transform 0.6s cubic-bezier(0, 0.9, 0.13, 0.9), -webkit-transform 0.6s cubic-bezier(0, 0.9, 0.13, 0.9);
  	position: relative;
}

@media only screen and (max-width: 408px) {
  .buttonEdit .button__inner, .buttonFollow .button__inner{
    font-size: 10px;
  }
}

.buttonEdit:hover .button__inner, .buttonEdit:focus .button__inner, .buttonFollow:hover .button__inner, .buttonFollow:focus .button__inner {
  -webkit-transform: translate3D(0, -10px, 0);
          transform: translate3D(0, -10px, 0);
}

.buttonEdit:active .button__inner, .buttonFollow:active .button__inner {
  -webkit-transform: translate3D(0, 0, 0);
          transform: translate3D(0, 0, 0);
}

.buttonEdit:hover .button__inner, .buttonEdit:focus .button__inner, .buttonFollow:hover .button__inner, .buttonFollow:focus .button__inner {
  background-color: #fff;
}

.buttonDelete {
	color: #fff;
  	background-color: #252525;
  	z-index: 0;
}

.buttonDelete:after {
	color: #fff;
  background-color: #252525;
}

.buttonDelete .button__inner {
	color: #fff;
  background-color: #000000;
}

.buttonDelete:hover .button__inner, .buttonDelete:focus .button__inner {
	color: #fff;
  background-color: #000000;
}


/*----------------------------------------------Links Menu--------------------------------------------*/

.eft-sidebar a, .left-sidebar a:visited {
	color: white;
	font-weight: bold;
	text-decoration: none;
	font-family:'arial'
} 

.left-sidebar a, .left-sidebar a > span {
  	position: relative;
  	/*color: inherit;*/
  	text-decoration: none;
}

.left-sidebar a:before, .left-sidebar a:after, .left-sidebar a > span:before, .left-sidebar a > span:after {
	content: '';
  	position: absolute;
  	transition: transform .5s ease;
}

.lSidebarContent {
  display: inline-block;
  overflow: hidden;
}

.lSidebarContent:before {
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background: #c5c5c5;
  transform: translateX(-100%);
}

.lSidebarContent:hover:before {
  transform: translateX(0);
}


	